.svg-class-1 {
  max-width: 500px;
  background-color: aqua;
}

.svg-class-2 {
  max-width: 700px;
  background-color: rgb(72, 255, 0);
}

.container {
  display: flex;
}

.class1 {
  width: 100px;
  height: 100px;
  margin: 1rem;
  background-color: blue;
}

.class2 {
  width: 100px;
  height: 100px;
  margin: 1rem;
  background-color: red;
}

.class3 {
  width: 100px;
  height: 100px;
  margin: 1rem;
  background-color: green;
}